{
  "extends": "vtex",
  "root": true,
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-object-type": "off"
  }
}
